body, html {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #FFF;
}

header {
    background-color: #E0C785;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-container {
    width: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.logo img {
    width: 150px;
    border-radius: 50%; 
    margin-right: 24px;
}

main {
    flex: 1;
    padding: 20px;
    text-align: center;
    background-color: #F8E0C8;
}

.prices-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.churros-types, .confeitos {
    padding: 20px;
    background-color: #FFF3E0; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.churros-types h2, .confeitos h2 {
    color: #E67300;
}

.churros-items article {
    margin: 10px;
    text-align: center;
}

.churros-items img {
    width: 120px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.churros-items p {
    color: #5A5A5A;
    font-size: 18px;
    margin-top: 10px;
}

.confeitos ul {
    list-style: none;
    padding: 0;
}

.confeitos li {
    padding: 5px 0;
    color: #5A5A5A;
    font-size: 18px;
    border-bottom: 1px solid #ccc;
}

footer {
    background-color: #333;
    color: #FFF;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
    border-top: 5px solid #E0C785;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.social-media {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;
}

.social-media a {
    color: #FFF;
    font-size: 20px;
    transition: color 0.3s;
}

.social-media a:hover {
    color: #E0C785;
}

.nav-links {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 20px;
}

.nav-links a {
    color: #FFF;
    background-color: #E0C785;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s;
}

.nav-links a:hover {
    background-color: #F8E0C8;
}

footer p {
    font-size: 14px;
    color: #ccc;
    margin-top: 10px;
}

