body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E0C785;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #FFF3E0;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logo {
    margin-right: 50px;
}

.logo img {
    width: 150px;
    height: auto;
    border-radius: 50%;
}

.content {
    text-align: center;
}

.content h1 {
    font-size: 20px;
    color: #333;
    margin-bottom: 20px;
}

.btn-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    padding: 15px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #3b5998;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.btn-google {
    background-color: #4285F4;
}

.btn-secondary {
    background-color: white;
    color: #333;
    border: 2px solid #333;
}

.btn-secondary:hover {
    background-color: #f0f0f0;
}

.btn img {
    margin-right: 10px;
    width: 20px;
    height: auto;
}

.btn-secondary {
    color: black;
    background-color: white;
    border: 2px solid #000;
}
